services:
  # 1. Metadata Database
  metastore-db:
    image: postgres:15
    container_name: hive-metastore-db
    environment:
      POSTGRES_DB: metastore_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 2324
    networks:
      - trino-ranger-net

  # 2. Hive Metastore (HMS)
  hive-metastore:
      image: starburstdata/hive:3.1.2-e.18
      container_name: hive-metastore
      depends_on:
        - metastore-db
      environment:
        # --- Database Connection ---
        HIVE_METASTORE_DRIVER: org.postgresql.Driver
        HIVE_METASTORE_JDBC_URL: jdbc:postgresql://144.24.127.112:5432/metastore_db
        HIVE_METASTORE_USER: postgres
        HIVE_METASTORE_PASSWORD: 2324
        
        # --- S3 / MinIO Configuration ---
        HIVE_METASTORE_WAREHOUSE_DIR: s3a://warehouse/
        S3_ENDPOINT: http://minio:9000
        S3_ACCESS_KEY: minioadmin
        S3_SECRET_KEY: minioadmin
        S3_PATH_STYLE_ACCESS: "true"
        REGION: "us-east-1"
        METASTORE_HADOOP_CONF_fs_s3a_impl: org.apache.hadoop.fs.s3a.S3AFileSystem
        # --- MANDATORY STARBURST PLACEHOLDERS (Do not remove) ---
        GOOGLE_CLOUD_KEY_FILE_PATH: ""
        AZURE_ADL_CLIENT_ID: ""
        AZURE_ADL_CREDENTIAL: ""
        AZURE_ADL_REFRESH_URL: ""
        AZURE_ABFS_STORAGE_ACCOUNT: ""
        AZURE_ABFS_ACCESS_KEY: ""
        AZURE_WASB_STORAGE_ACCOUNT: ""
        AZURE_ABFS_OAUTH: ""
        AZURE_ABFS_OAUTH_TOKEN_PROVIDER: ""
        AZURE_ABFS_OAUTH_CLIENT_ID: ""
        AZURE_ABFS_OAUTH_SECRET: ""
        AZURE_ABFS_OAUTH_ENDPOINT: ""
        AZURE_WASB_ACCESS_KEY: ""
        HIVE_METASTORE_USERS_IN_ADMIN_ROLE: "admin"

      ports:
        - "9083:9083"
      networks:
        - trino-ranger-net    
networks:
  trino-ranger-net:
    external: true
    name: trino_engine_trino-ranger-net